* {
  padding: 0px;
  margin: 0px;
}

body,
html {
  background-color: #eee;
}
body > div:first-child {
  min-height: 1000px;
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
  padding: 25px;
  padding-top: 0px;
}

img {
  border-radius: 5px;
}

/*header*/
header,
section,
footer {
  padding: 20px;
}

header {
  margin-bottom: 20px;
}

header > div {
  display: inline-block;
  vertical-align: middle;
}

#haut-gauche {
  width: 20%;
}

#haut-droite {
  width: 80%;
  text-align: center;
}

nav {
  width: 50%;
  margin: auto;
  text-align: center;
  line-height: 30px;
  border-top: 1px #000 solid;
  border-bottom: 1px #000 solid;
}

nav a p {
  display: inline-block;
  padding: 10px;
  background-color: white;
  border-right: 1px #000 solid;
  color: black;
}

nav a p:hover {
  color: black;
  background-color: #ffd222;
}
nav a:last-child {
  border-right: none;
}

/* table  */
table,
th,
td {
  padding: 10px;
  border: 1px #000 dotted;
  text-align: center;
}

td:nth-last-child(-n + 2) {
  background-color: brown;
  color: white;
}
